*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    -webkit-tap-highlight-color:transparent;
}
body{
    font-family: 'Poppins', sans-serif;
}

.c-6{
    width: calc(100% / 6);
}